/*Home */

.promo {
    min-height: 695px;
    padding: 40px 0;
    margin-top: -21px;
    background-color: var(--dark-bg);
    color: var(--header-text);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* .promo__wrapper {
    padding: 0 15px;
    max-width: 760px;
} */
.promo__title {
    font-size: calc(20px + (16 + 16 * 0.7) * ((100vw - 320px) / 1920));
    font-weight: 700;
    line-height: 1.4;
}
.promo__title strong {
    font-size: calc(30px + (16 + 16 * 0.7) * ((100vw - 320px) / 1920));
    font-weight: 700;
}
.promo__title em {
   font-style: normal;
   color: var(--accent);
}
.promo__text {
    font-size: 18px;
    line-height: 1.333;
    margin-bottom: 40px;
}
.promo__text p + p {
    margin-top: 1em; /* 1 умножить на размер шрифта*/
}
.promo__image {
    width: 100%;
}
.btn {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    transition: opacity 0.2s ease-in;
}
.btn:hover {
    opacity: 0.8;
}
.btn:active {
    position: relative;
    top: 2px;
}

/*Project*/

.project__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects {    
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    column-gap: 20px;
    row-gap: 30px;
}
.project {
    padding: 10px;
    background-color: var(--white);
    
    list-style: none;
}
.project__title {
    text-align: center;
}
.project__img {
    max-width: 370px;
    height: 278px;
  
}


/*Project-details*/

.project-details {
    margin: 0 auto;
    max-width: 865px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-details__cover {
    max-width: 100%;
    margin-bottom: 40px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.project-details__desc {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;
}
.btn-outline {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--black);
    border-radius: 5px;
    padding: 12px 20px;
    border: 2px solid #000;
    margin-bottom: 40px;
    transition: opacity 0.2s ease-in;
}
.btn-outline:hover {
    opacity: 0.8;
}
.btn-outline:active {
    position: relative;
    top: 2px;
}

/*Contacts*/

.contacts__wrapper {
   max-width: 570px;
   display: flex;
   flex-direction: column;
   
}
.title-1 {
    font-size: calc(30px + (16 + 16 * 0.7) * ((100vw - 320px) / 1440));
    font-weight: 700;
    line-height: 1.3;
    color: var(--accent);
    text-align: center;
    margin: 0;
    margin: 20px 0 40px 0;
   
}
.title-2 {
    font-size: calc(20px + (16 + 16 * 0.7) * ((100vw - 320px) / 1440));
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 20px;
   
}
.contact-list{
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.contact-list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    

}
.contact-list__text {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.5px;
    
}
a{
   color: #000;
}

@media (min-width: 768px) and (max-width: 930px) {
    .projects {
         justify-content: center;
    }
    .promo__image  {
        width: 350px;
    }
    
}
/* @media (min-width: 320px) and (max-width: 600px) {
   
   
} */
