.footer {
    background-color: var(--dark-bg);
    padding: 60px 0 50px 0;
    color: var(--header-text);
    margin-top: auto;
    
}
.footer__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
   
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    padding: 0;
}
.social__item {
    list-style: none;
}
.copyright {
    font-size: 16px;
}
.copyright p + p {
    margin-top: 0.5em;
}